#!/bin/bash

###############################################
# Usage: 
# 1. $ cp terraform.tfvars.dist terraform.tfvars
# 2. Edit away the 'terraform.tfvars' file!
# 3. terraform init && terraform plan && terraform apply
###############################################

project_id="bank-of-anthos-tf"
region="europe-west1"
zone="europe-west1-b"
registry_name="bank-of-anthos"